.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 250ms background-color ease-in;
    padding: 5px;
    /* width: 100% */
  }
  
  .header__right:hover{
      background-color: #1db954;
  }
  .header__left {
    flex: 0.8;
    display: flex;
    background-color: #c7c7c7;
    padding: 10px;
    border-radius: 15px;
    color: gray;
    align-items: center;
  }
  
  .header__left > input {
    border: none;
    width: 100%;
    background-color: #c7c7c7;
    outline: none;
    color: white
  }
  
  .header__right > h4 {
    margin-left: 10px;
  }