@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

body::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(20, 20, 20);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swal__custom {
  background-color: black !important;
  color: white !important;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5) !important;
}

.swal2-content,
.swal2-title {
  color: white !important;
}

.swal2-confirm {
  background-color: #1db954 !important;
  outline: hidden !important;
}

.swal2-confirm:hover {
  outline: hidden !important;
}

.swal2-container {
  background: rgba(0, 0, 0, 0.8) !important;
}

.swal2-footer {
  border-top: 1px solid #2e2e2e !important;
  color: #1db954 !important;
}
