.sidebar {
  /* border: 1px solid black; */
  /* height: 100vh; */
  flex: 0.1;
  background-color: #040404;
  color: white;
  height: 100%;
  min-width: 200px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 10px;
  overflow-y: scroll;
  /* overflow: hidden; */
  position: fixed;
  width: 200px;
  /* margin-right: 2px; */
  /* font-family: ; */
  /* margin-left: 7px; */
  /* margin-top: 30px; */
}

.sidebar::-webkit-scrollbar{
  display: none;
}

.sidebar__logo {
    /* object-fit: ; */
    height: 40px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin-right: auto;
    /* width: 100px; */
}

.sidebar__title{
    margin-left: 5px;
    padding: 5px;
    font-size: 14px;
    color: gray
}
