.songRow {
  margin-bottom: 5px;
  padding: 20px;
  display: flex;
  /* align-content: flex-end; */
  align-items: center;
  z-index: 100;
  color: white;
  border-radius: 10px;
  transition: transform .2s;
  width: 100%;
}

.songRow:hover {
  cursor: pointer;
  background-color: #1db9547a;
  /* opacity:1 !important; */
  transform: scale(1.04) !important;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: #1db954;
}

.songRow__album {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.songRow__albumName {
  flex: 0.3;
  display: flex;
  align-items: flex-end;
  margin-left: 50px;
  color: rgb(173, 173, 173);
}

.songRow__duration {
  flex: 0.1;
  display: flex;
  align-items: flex-end;
  margin-left: 50px;
  color: #1db954;
}

.songRow__info {
  margin-left: 30px;
  flex: 0.3;
}

.songRow__dateAdded {
  flex: 0.3;
  margin-left: 40px;
  color: rgb(173, 173, 173);
}
