.body{
    /* border: 1px solid red; */
    flex: 0.8;
    background-color: slategray;
    height: 100vh;
    color: white;
    padding: 30px;
    /* background: linear-gradient(rgb(91, 87, 115)); */
}