.body{
    /* border: 1px solid red; */
    flex: 0.9;
    background-color: #121212;
    height: 100vh;
    color: white;
    padding: 30px;
    /* background: linear-gradient(rgb(91, 87, 115)); */
}