.sidebar {
  /* border: 1px solid black; */
  height: 100vh;
  flex: 0.2;
  background-color: #040404;
  color: white;
  height: 100vh;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar__logo {
    /* object-fit: ; */
    height: 70px;
    padding: 10px;
    margin-right: auto;
    /* width: 100px; */
}

.sidebar__title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
    color: gray
}
